body {
    background: #3e3ede;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    padding: 10px 5px;
    width: 500px;
    margin: auto;

    color: black;

    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.344);
}

div {
    margin: 10px;
}

input[type=button] {
    width: 45%;
}

select {
    width: auto;
}

.displayInline {
    display: inline-block;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
}