body {
    background: #483587;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: #ffffff;
    text-align: center;
}

section {
    background: #ffffff;
    padding: 10px 30px;
    width: 500px;
    margin: auto;

    color: black;

    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.344);
}
 
label {
    display: inline-block;
    margin: 18px 0;
    width: 25%;
    margin: 10px 0;
} 

input[type=number] {
    width: 85%;
}

input[type=button] {
    width: 100px;
    margin: 10px 0;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 0.6em;
}